apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: short-stream
spec:
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
    name: http
  type: LoadBalancer
