apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: short-stream
spec:
  selector:
    app: gateway
  ports:
  - protocol: TCP
    port: 3000
    targetPort: 3000
    name: http
  type: ClusterIP
