apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: infrastructure
spec:
  selector:
    app: postgres
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432
    name: postgres
  type: ClusterIP
